<!DOCTYPE html>
<html lang="en">
  <head></head>
  <title>Base Layout</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.min.css">
  <body>
    <header>
      <div class="container" id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"> <img src="images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container" id="main">
      <div class="container">
        <h1>Welcome World!</h1>
      </div>
    </div>
    <footer>
      <div class="container" id="footer">
        <div class="col-md-3">         
          <div class="row">
            <div class="footer-logo col-md-12">
              <div class="col-md-5"><a href="#"><img src="app/images/footer-logo.png" alt="footer logo"></a></div>
              <div class="col-md-7 footer-logo-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna elit, ultricies.</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="footer-sociallinks">
                <ul class="list-inline">
                  <li><a class="external-link" href="http://www.google.com" aria-label="facebook"><i class="facebook-logo"></i></a></li>
                  <li><a class="external-link" href="http://www.google.com" aria-label="twitter"><i class="twitter-logo"></i></a></li>
                  <li><a class="external-link" href="http://www.google.com" aria-label="youtube"><i class="youtube-logo"></i></a></li>
                  <li><a class="external-link" href="http://www.google.com" aria-label="instagram"><i class="instagram-logo"></i></a></li>
                  <li><a class="external-link" href="http://www.google.com" aria-label="linkedin"><i class="linkedin-logo"></i></a></li>
                  <li><a class="external-link" href="http://www.google.com" aria-label="flickr"><i class="flickr-logo"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="footer-menus col-md-3">
              <h4>Accounts & Service</h4>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Your Account & Bill</a></li>
                <li><a href="#">Start, Stop or Move</a></li>
                <li><a href="#">Power Outages</a></li>
                <li><a href="#">Construction</a></li>
                <li><a href="#">Transmission</a></li>
                <li><a href="#">Rebates & offers</a></li>
              </ul>
            </div>
            <div class="footer-menus col-md-3">
              <h4>Accounts & Service</h4>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Your Account & Bill</a></li>
                <li><a href="#">Start, Stop or Move</a></li>
                <li><a href="#">Power Outages</a></li>
                <li><a href="#">Construction</a></li>
                <li><a href="#">Transmission</a></li>
                <li><a href="#">Rebates & offers</a></li>
              </ul>
            </div>
            <div class="footer-menus col-md-3">
              <h4>Accounts & Service</h4>
              <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Your Account & Bill</a></li>
                <li><a href="#">Start, Stop or Move</a></li>
                <li><a href="#">Power Outages</a></li>
                <li><a href="#">Construction</a></li>
                <li><a href="#">Transmission</a></li>
                <li><a href="#">Rebates & offers        </a></li>
              </ul>
            </div>
          </div>
          <div class="row">               
            <div class="language-selector col-md-3">
              <div class="component-content">
                <div class="row">
                  <div class="col-md-12">
                    <p><i class="globe" aria-hidden="true">English - US</i></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="footer-sitemap col-md-9">
              <div class="component-content">
                <div class="row">           
                  <div class="col-md-12 remove-pad-right">              
                    <ul class="list-inline">
                      <li><a href="#">Terms of Use </a></li>
                      <li><a href="#"> Privacy Policy </a></li>
                      <li><a href="#">Contact Us   </a></li>
                      <li></li>
                    </ul>
                    <div class="copy-right">
                      <ul class="list-inline"> 
                        <li><i class="fa fa-copyright"></i> Copyright 2018 Avanade. All rights reserved.</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/vendor.min.js"></script>
    <script src="js/scripts.min.js"></script>
  </body>
</html>