.carousel.component
    .carousel-slider
        .slide
            img.slide-img(src="/images/camp-nou.jpg")
            .slide-copy.align-left
                h2 Porttitor gravida
                p Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.
        .slide
            img.slide-img(src="/images/neon-shoes.jpg")
            .slide-copy.align-right
                h2 Facilisis vulputate
                p Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.
        .slide
            img.slide-img(src="/images/stadium-pitch.jpg")
            .slide-copy.align-right
                h2 Consequat sem
                p Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.
