.featured-item.component
    img(alt="Featured item" src="/images/crowd.jpg")
    .featured-item-copy
        h2 Lorem ipsum heading
        p Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.
        include ../elements/primary-link-button
