.col-md-3          
    .row
        .footer-logo.col-md-12
            .col-md-5
                a(href='#')
                    img(src='app/images/footer-logo.png', alt='footer logo')
            .col-md-7.footer-logo-text
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna elit, ultricies.
    .row
        .col-md-12
            .footer-sociallinks
                ul.list-inline
                    li
                        a.external-link(href='http://www.google.com', aria-label='facebook')
                            i.facebook-logo
                    li
                        a.external-link(href='http://www.google.com', aria-label='twitter')
                            i.twitter-logo
                    li
                        a.external-link(href='http://www.google.com', aria-label='youtube')
                            i.youtube-logo
                    li
                        a.external-link(href='http://www.google.com', aria-label='instagram')
                            i.instagram-logo
                    li
                        a.external-link(href='http://www.google.com', aria-label='linkedin')
                            i.linkedin-logo
                    li
                        a.external-link(href='http://www.google.com', aria-label='flickr')
                            i.flickr-logo
.col-md-9
    .row
        .footer-menus.col-md-3
            h4 Accounts & Service
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') Your Account & Bill
                li
                    a(href='#') Start, Stop or Move
                li
                    a(href='#') Power Outages
                li
                    a(href='#') Construction
                li
                    a(href='#') Transmission
                li
                    a(href='#') Rebates & offers
        .footer-menus.col-md-3
            h4 Accounts & Service
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') Your Account & Bill
                li
                    a(href='#') Start, Stop or Move
                li
                    a(href='#') Power Outages
                li
                    a(href='#') Construction
                li
                    a(href='#') Transmission
                li
                    a(href='#') Rebates & offers
        .footer-menus.col-md-3
            h4 Accounts & Service
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') Your Account & Bill
                li
                    a(href='#') Start, Stop or Move
                li
                    a(href='#') Power Outages
                li
                    a(href='#') Construction
                li
                    a(href='#') Transmission
                li
                    a(href='#') Rebates & offers        
    .row                
        .language-selector.col-md-3
            .component-content
                .row
                    .col-md-12
                        p
                            i.globe(aria-hidden='true')
                                | English - US

        .footer-sitemap.col-md-9
            .component-content
                .row            
                    .col-md-12.remove-pad-right               
                        ul.list-inline
                            li
                                a(href='#') Terms of Use 
                            li
                                a(href='#')  Privacy Policy 
                            li
                                a(href='#') Contact Us   
                            li
                        .copy-right
                            ul.list-inline 
                                li
                                    i.fa.fa-copyright
                                    |  Copyright 2018 Avanade. All rights reserved.
