.banner-large.component
    img(alt="Banner Image" src="/images/goalkeeper-diving.jpg")
    .banner-copy
        h1 Lorem ipsum dolor sit
        p Sed nisi elit, varius eget pharetra vel, tincidunt et orci. Aenean imperdiet tristique velit sed sollicitudin. Sed consectetur luctus felis non ornare.
        include ../elements/primary-link-button
