.col-xs-12
    .slider-container
        .slide-item
            h3.temp-text 1
        .slide-item
            h3.temp-text 2
        .slide-item
            h3.temp-text 3
        .slide-item
            h3.temp-text 4
