footer {
    background-color:#ccc;
    padding:25px 0;
    #footer {
        .footer-left {
            .footer-promo{
                background-color:#333;
                padding:15px;
                width:100%;
                .footer-promo-image {
                    display: table-cell;
                    padding-right:25px;
                }
                .footer-promo-copy {
                    color:#fff;
                    display: table-cell;
                    vertical-align: top;
                    .footer-promo-heading {
                        font-weight: bold;
                        font-size:1.5em;
                    }
                }
            }
            .footer-social-links {
                margin-top:25px;
                ul{
                    display: table;
                    width:100%;
                    li{
                        display:table-cell;
                        text-align: center;
                        a{
                            font-size:2em;
                        }
                    }
                }
            }
        }
        .footer-right {
            .footer-columns{
                margin-bottom:35px;
                .footer-col{
                    h4{
                        padding:20px 0 0 0;
                        cursor: pointer;
                        .footer-chevron{
                            float:right;
                        }
                    }
                    ul{
                        display: none;
                        list-style-type:none;
                        padding:0;
                    }
                }
            }
            .footer-links {
                .footer-language-selector {
                    float:left;
                    width:25%;
                }
                .footer-sitemap {
                    width:75%;
                }
            }
        }
    }    
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    footer{
        #footer {
            .footer-left {
                .footer-promo{
                    text-align: center;
                    .footer-promo-image {
                        display: block;
                        width:100%;
                        padding:0 0 15px 0  ;
                    }
                    .footer-promo-copy {
                        display: block;
                        width:100%;
                    }
                }
            }
        }
    }

}

@media only screen and (min-width: 768px) {
    footer{
        #footer {
            .footer-left {
                width: 30%;
                float:left;
                padding-right:25px;
                border-right:2px solid #999;
            }
            .footer-right {
                width: 70%;
                float:left;
                padding-left:25px;
                .footer-columns{
                    display:table;
                    width:100%;
                    .footer-col{
                        display: table-cell;
                        h4{
                            padding:0;
                            margin-top:0;
                            cursor: default;
                            .footer-chevron{
                                display:none;
                            }
                        }
                        ul{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}