extends ../page layouts/_standard
block page_title 
  | About Us
block page_heading
  include ../components/page-header.pug
    block page_heading_copy
      | About Us 
block toprow  
  include ../components/tabs-left.pug 
