extends ../page layouts/_standard
block page_title 
  | Detail Page
block page_heading
  include ../components/page-header.pug
    block page_heading_copy
      | Detail Page 
block toprow  
  include ../components/video-player.pug 
