<!DOCTYPE html>
<html lang="en">
  <head></head>
  <title>Article Page
  </title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" type="image/x-icon" href="/content/images/favicon.ico">
  <link rel="stylesheet" href="/content/css/vendor/all.css">
  <link rel="stylesheet" href="/content/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/content/css/styles.min.css">
  <body>
    <header>
      <div class="container" id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#" title="Site Logo"> <img src="/content/images/logo.png"></a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav">
                <li><a href="/content/html/views/pages/kitchen-sink.html" title="Kitchen Sink">Kitchen Sink</a></li>
                <li><a href="/content/html/views/pages/home.html" title="Home">Home</a></li>
                <li><a href="/content/html/views/pages/article.html" title="Article">Article</a></li>
                <li><a href="/content/html/views/pages/landing.html" title="Landing">Landing</a></li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button" aria-expanded="false" title="Dropdown">Dropdown<span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="/content/html/views/pages/about.html" title="About">About</a></li>
                    <li><a href="/content/html/views/pages/about.html" title="Detail">Detail</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="input-group search-bar">
              <input class="form-control search-input" type="text" placeholder="Search for..."><span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fas fa-search"></i></button></span>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-9">
            <div class="banner-small component"><img alt="Banner Image" src="/content/images/small-banner.jpg">
              <h1>Lorem ipsum dolor sit</h1>
            </div>
            <p>Nullam ultricies luctus <a href="www.google.com" title="link text">imperdiet</a>. Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.<img class="rich-text align-left" alt="image text" title="image text" src="/content/images/shoes-on-ball.jpg">Nullam pharetra, elit porta accumsan accumsan, sapien nisl molestie lacus, sed gravida libero purus laoreet arcu. Nam vulputate laoreet sem, ac blandit metus tincidunt at. Nunc posuere non arcu a suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur imperdiet ultricies mi eget gravida. Praesent feugiat massa metus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.</p>
            <p>Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.</p>
            <p> <img class="rich-text align-right" alt="image text" title="image text" src="/content/images/shoes-on-ball.jpg">Fusce euismod mi at risus tincidunt malesuada. Donec pulvinar mauris sit amet orci tincidunt, luctus consectetur mi convallis. Integer fermentum semper rutrum. Nam placerat lacinia felis nec varius. Nunc metus nibh, malesuada posuere tortor eu, tincidunt aliquet metus. Nunc quis arcu a magna sodales malesuada sit amet non sapien. Maecenas vestibulum pretium ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet molestie ligula, nec molestie lectus.</p>
            <p>Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.</p>
            <p>Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.</p>
          </div>
          <div class="col-xs-12 col-sm-3">
            <div class="call-to-action component"><a class="cta-linked-wrapper" href="http://www.google.com"><span class="cta-image"><img src="/content/images/idea.png"></span><span class="cta-copy"><span class="cta-heading">Call to Action</span>
                  <p>Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.</p></span></a></div>
            <div class="call-to-action component"><a class="cta-linked-wrapper" href="http://www.google.com"><span class="cta-image"><img src="/content/images/idea.png"></span><span class="cta-copy"><span class="cta-heading">Call to Action</span>
                  <p>Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.</p></span></a></div>
            <div class="promo-box component"><img alt="Promo text" src="/content/images/soccer-ball-pink.jpg">
              <div class="promo-copy">
                <h3>Lorem ipsum heading</h3>
                <p>Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.</p><a class="btn btn-primary" href="#" role="button">
                   Primary Link<i class="fas fa-chevron-right"> </i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container" id="footer">
        <div class="footer-left">
          <div class="footer-iterate">
            <p>iteration example</p>
            <ul> 
              <li>Link 1</li>
              <li>Link 2</li>
              <li>Link 3</li>
            </ul>
          </div>
          <div class="footer-promo">
            <div class="footer-promo-image"><a href="#"><img src="/content/images/footer-logo.png" alt="footer logo"></a></div>
            <div class="footer-promo-copy">
              <p class="footer-promo-heading">Duis tincidunt  </p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna elit, ultricies.</p>
            </div>
          </div>
          <div class="footer-social-links">
            <ul class="list-inline">
              <li><a class="external-link" href="http://www.google.com" aria-label="facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a class="external-link" href="http://www.google.com" aria-label="twitter"><i class="fab fa-twitter"></i></a></li>
              <li><a class="external-link" href="http://www.google.com" aria-label="youtube"><i class="fab fa-youtube"></i></a></li>
              <li><a class="external-link" href="http://www.google.com" aria-label="instagram"><i class="fab fa-instagram"></i></a></li>
              <li><a class="external-link" href="http://www.google.com" aria-label="linkedin"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="external-link" href="http://www.google.com" aria-label="flickr"><i class="fab fa-flickr"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="footer-right">
          <div class="footer-columns">
            <div class="footer-col">
              <h4>Lorem & Ipsum <i class="fas fa-chevron-down footer-chevron"></i></h4>
              <ul>
                <li><a href="#">Sed in pharetra </a></li>
                <li><a href="#">Nunc tristique</a></li>
                <li><a href="#">Aliquam laoreet</a></li>
                <li><a href="#">Vivamus ut diam</a></li>
                <li><a href="#">Pellentesque</a></li>
                <li><a href="#">Elementum</a></li>
                <li><a href="#">Condimentum magna</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Lorem & Ipsum<i class="fas fa-chevron-down footer-chevron"></i></h4>
              <ul>
                <li><a href="#">Sed in pharetra</a></li>
                <li><a href="#">Nunc tristique</a></li>
                <li><a href="#">Aliquam laoreet</a></li>
                <li><a href="#">Vivamus ut diam</a></li>
                <li><a href="#">Pellentesque</a></li>
                <li><a href="#">Elementum</a></li>
                <li><a href="#">Condimentum magna</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Lorem & Ipsum<i class="fas fa-chevron-down footer-chevron"></i></h4>
              <ul>
                <li><a href="#">Sed in pharetra</a></li>
                <li><a href="#">Nunc tristique</a></li>
                <li><a href="#">Aliquam laoreet</a></li>
                <li><a href="#">Vivamus ut diam</a></li>
                <li><a href="#">Pellentesque</a></li>
                <li><a href="#">Elementum</a></li>
                <li><a href="#">Condimentum magna</a></li>
              </ul>
            </div>
            <div class="footer-col">
              <h4>Lorem & Ipsum<i class="fas fa-chevron-down footer-chevron"></i></h4>
              <ul>
                <li><a href="#">Sed in pharetra</a></li>
                <li><a href="#">Nunc tristique</a></li>
                <li><a href="#">Aliquam laoreet</a></li>
                <li><a href="#">Vivamus ut diam</a></li>
                <li><a href="#">Pellentesque</a></li>
                <li><a href="#">Elementum</a></li>
                <li><a href="#">Condimentum magna</a></li>
              </ul>
            </div>
          </div>
          <div class="footer-links">
            <div class="footer-language-selector">
              <p><i class="fas fa-globe" aria-hidden="true">
                   English - US</i></p>
            </div>
            <div class="footer-sitemap">
              <ul class="list-inline">
                <li><a href="#">Terms of Use </a></li>
                <li><a href="#"> Privacy Policy </a></li>
                <li><a href="#">Contact Us   </a></li>
              </ul>
              <div class="copyright"><i class="far fa-copyright"> </i> Copyright 2018 Avanade. All rights reserved.</div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="/content/js/vendor.min.js"></script>
    <script src="/content/js/scripts.min.js"></script>
  </body>
</html>