
<div class="col-md-3">         
  <div class="row">
    <div class="footer-logo col-md-12">
      <div class="col-md-5"><a href="#"><img src="app/images/footer-logo.png" alt="footer logo"/></a></div>
      <div class="col-md-7 footer-logo-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna elit, ultricies.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="footer-sociallinks">
        <ul class="list-inline">
          <li><a class="external-link" href="http://www.google.com" aria-label="facebook"><i class="facebook-logo"></i></a></li>
          <li><a class="external-link" href="http://www.google.com" aria-label="twitter"><i class="twitter-logo"></i></a></li>
          <li><a class="external-link" href="http://www.google.com" aria-label="youtube"><i class="youtube-logo"></i></a></li>
          <li><a class="external-link" href="http://www.google.com" aria-label="instagram"><i class="instagram-logo"></i></a></li>
          <li><a class="external-link" href="http://www.google.com" aria-label="linkedin"><i class="linkedin-logo"></i></a></li>
          <li><a class="external-link" href="http://www.google.com" aria-label="flickr"><i class="flickr-logo"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="col-md-9">
  <div class="row">
    <div class="footer-menus col-md-3">
      <h4>Accounts & Service</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Your Account & Bill</a></li>
        <li><a href="#">Start, Stop or Move</a></li>
        <li><a href="#">Power Outages</a></li>
        <li><a href="#">Construction</a></li>
        <li><a href="#">Transmission</a></li>
        <li><a href="#">Rebates & offers</a></li>
      </ul>
    </div>
    <div class="footer-menus col-md-3">
      <h4>Accounts & Service</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Your Account & Bill</a></li>
        <li><a href="#">Start, Stop or Move</a></li>
        <li><a href="#">Power Outages</a></li>
        <li><a href="#">Construction</a></li>
        <li><a href="#">Transmission</a></li>
        <li><a href="#">Rebates & offers</a></li>
      </ul>
    </div>
    <div class="footer-menus col-md-3">
      <h4>Accounts & Service</h4>
      <ul>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Your Account & Bill</a></li>
        <li><a href="#">Start, Stop or Move</a></li>
        <li><a href="#">Power Outages</a></li>
        <li><a href="#">Construction</a></li>
        <li><a href="#">Transmission</a></li>
        <li><a href="#">Rebates & offers        </a></li>
      </ul>
    </div>
  </div>
  <div class="row">               
    <div class="language-selector col-md-3">
      <div class="component-content">
        <div class="row">
          <div class="col-md-12">
            <p><i class="globe" aria-hidden="true">English - US</i></p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-sitemap col-md-9">
      <div class="component-content">
        <div class="row">           
          <div class="col-md-12 remove-pad-right">              
            <ul class="list-inline">
              <li><a href="#">Terms of Use </a></li>
              <li><a href="#"> Privacy Policy </a></li>
              <li><a href="#">Contact Us   </a></li>
              <li></li>
            </ul>
            <div class="copy-right">
              <ul class="list-inline"> 
                <li><i class="fa fa-copyright"></i> Copyright 2018 Avanade. All rights reserved.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>