.accordion.component
    .accordion-item
        .accordion-heading
            a.accordion-button(href="#a-accordion" data-toggle="collapse" ) Collapsible 
                i.fas.fa-minus
        #a-accordion.collapse.accordion-content.in
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.
            p Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.

    .accordion-item
        .accordion-heading
            a.accordion-button(href="#b-accordion" data-toggle="collapse" ) Collapsible
                i.fas.fa-plus
        #b-accordion.collapse.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.
                img.rich-text.align-left(alt='image text' title='image text' src='/content/images/shoes-on-ball.jpg')
                | Nullam pharetra, elit porta accumsan accumsan, sapien nisl molestie lacus, sed gravida libero purus laoreet arcu. Nam vulputate laoreet sem, ac blandit metus tincidunt at. Nunc posuere non arcu a suscipit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur imperdiet ultricies mi eget gravida. Praesent feugiat massa metus.
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mauris orci, aliquam eu arcu non, eleifend tincidunt orci. Etiam ullamcorper tristique urna, nec mollis sem commodo ut. Ut consequat urna ut urna tincidunt varius. Morbi imperdiet lacus hendrerit lorem dictum ultrices. Aenean tempus quis tellus non consequat. Pellentesque porta odio non quam pharetra, in eleifend arcu varius.

    .accordion-item
        .accordion-heading
            a.accordion-button(href="#c-accordion" data-toggle="collapse" ) Collapsible
                i.fas.fa-plus
        #c-accordion.collapse.accordion-content
            p 
                img.rich-text.align-right(alt='image text' title='image text' src='/content/images/shoes-on-ball.jpg')
                | Fusce euismod mi at risus tincidunt malesuada. Donec pulvinar mauris sit amet orci tincidunt, luctus consectetur mi convallis. Integer fermentum semper rutrum. Nam placerat lacinia felis nec varius. Nunc metus nibh, malesuada posuere tortor eu, tincidunt aliquet metus. Nunc quis arcu a magna sodales malesuada sit amet non sapien. Maecenas vestibulum pretium ultricies. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sit amet molestie ligula, nec molestie lectus.
            p Mauris sed mi dolor. Crast aliquam lectus id leo finibus commodo. Mauris vitae mollis lorem, eget maximus odio. Pellentesque porta, magna sed accumsan egestas, leo risus sodales sem, et porta tellus nulla sed risus.
