.call-to-action.component
    a.cta-linked-wrapper(href="http://www.google.com")
        span.cta-image
            img(src="/content/images/idea.png")
        span.cta-copy
            span.cta-heading Call to Action
            p Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.
