.footer-left
    .footer-promo
        .footer-promo-image
            a(href='#')
                img(src='/content/images/footer-logo.png', alt='footer logo')
        .footer-promo-copy
            p.footer-promo-heading Duis tincidunt  
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In urna elit, ultricies.
    .footer-social-links
        ul.list-inline
            li
                a.external-link(href='http://www.google.com', aria-label='facebook')
                    i.fab.fa-facebook-f
            li
                a.external-link(href='http://www.google.com', aria-label='twitter')
                    i.fab.fa-twitter
            li
                a.external-link(href='http://www.google.com', aria-label='youtube')
                    i.fab.fa-youtube
            li
                a.external-link(href='http://www.google.com', aria-label='instagram')
                    i.fab.fa-instagram
            li
                a.external-link(href='http://www.google.com', aria-label='linkedin')
                    i.fab.fa-linkedin
            li
                a.external-link(href='http://www.google.com', aria-label='flickr')
                    i.fab.fa-flickr
.footer-right
    .footer-columns
        .footer-col
            h4 Lorem & Ipsum 
                i.fas.fa-chevron-down.footer-chevron
            ul
                li
                    a(href='#') Sed in pharetra 
                li
                    a(href='#') Nunc tristique
                li
                    a(href='#') Aliquam laoreet
                li
                    a(href='#') Vivamus ut diam
                li
                    a(href='#') Pellentesque
                li
                    a(href='#') Elementum
                li
                    a(href='#') Condimentum magna
        .footer-col
            h4 Lorem & Ipsum
                i.fas.fa-chevron-down.footer-chevron
            ul
                li
                    a(href='#') Sed in pharetra
                li
                    a(href='#') Nunc tristique
                li
                    a(href='#') Aliquam laoreet
                li
                    a(href='#') Vivamus ut diam
                li
                    a(href='#') Pellentesque
                li
                    a(href='#') Elementum
                li
                    a(href='#') Condimentum magna
        .footer-col
            h4 Lorem & Ipsum
                i.fas.fa-chevron-down.footer-chevron
            ul
                li
                    a(href='#') Sed in pharetra
                li
                    a(href='#') Nunc tristique
                li
                    a(href='#') Aliquam laoreet
                li
                    a(href='#') Vivamus ut diam
                li
                    a(href='#') Pellentesque
                li
                    a(href='#') Elementum
                li
                    a(href='#') Condimentum magna
        .footer-col
            h4 Lorem & Ipsum
                i.fas.fa-chevron-down.footer-chevron
            ul
                li
                    a(href='#') Sed in pharetra
                li
                    a(href='#') Nunc tristique
                li
                    a(href='#') Aliquam laoreet
                li
                    a(href='#') Vivamus ut diam
                li
                    a(href='#') Pellentesque
                li
                    a(href='#') Elementum
                li
                    a(href='#') Condimentum magna

    .footer-links
        .footer-language-selector
            p
                i.fas.fa-globe(aria-hidden='true') 
                    | English - US

        .footer-sitemap
            ul.list-inline
                li
                    a(href='#') Terms of Use 
                li
                    a(href='#')  Privacy Policy 
                li
                    a(href='#') Contact Us   
            .copyright
                i.far.fa-copyright 
                |  Copyright 2018 Avanade. All rights reserved.
