.promo-box.component
    img(alt="Promo text" src="/content/images/soccer-ball-pink.jpg")
    .promo-copy
        h3 Lorem ipsum heading
        p Quisque viverra ac augue eget tincidunt. Cras sit amet enim laoreet, tempus ex eget, dapibus purus.
        include ../elements/primary-link-button
