extends ../page layouts/_standard      
block toprow  
  p toprow of content

block 2col-cell1
  p row 2 cell 1 
block 2col-cell2
  p row 2 cell 2 

block 3col-cell1
  p row 3 cell 1 
block 3col-cell2
  p row 3 cell 2 
block 3col-cell3
  p row 3 cell 3 
