extends ../page layouts/_standard
block page_title 
  | Homepage
block toprow  
  include ../components/hero-banner.pug 
  include ../components/featured-item.pug

block 2col-cell1
  include ../components/promo-box.pug 
block 2col-cell2
  include ../components/promo-box.pug 

block 3col-cell1
  include ../components/call-to-action.pug 
block 3col-cell2
  include ../components/call-to-action.pug 
block 3col-cell3
  include ../components/call-to-action.pug 
