
<div class="carousel component">
  <div class="carousel-slider">
    <div class="slide"><img class="slide-img" src="/content/images/camp-nou.jpg"/>
      <div class="slide-copy align-left">
        <h2></h2>
        <p>Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.</p>
      </div>
    </div>
    <div class="slide"><img class="slide-img" src="/content/images/neon-shoes.jpg"/>
      <div class="slide-copy align-right">
        <h2></h2>
        <p>Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.</p>
      </div>
    </div>
    <div class="slide"><img class="slide-img" src="/content/images/stadium-pitch.jpg"/>
      <div class="slide-copy align-left">
        <h2></h2>
        <p>Praesent et leo sed mauris porttitor gravida. Duis vel consequat sem. Donec non est ex. Cras accumsan nisl et massa facilisis vulputate.</p>
      </div>
    </div>
  </div>
</div>