//- standard page layout
//- 1 col + 2 col + 3 col layout
//- max width bootstrap container

extends ../_base      
block page_title

block content  
    .container
        .row
            .col-xs-12.col-sm-9
                block topmain
            .col-xs-12.col-sm-3
                block topright
